body{
    background-color: #D5E1EF;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.card {
    background-color: white;
    height: 500px;
    width: 300px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content:center; 
    align-items: center;
    text-align: center;         
  }
  

.image img{
    width: 80%;
    border-radius: 30px;

}


.text{
    padding-top: 20px;
    width: 250px;
}

.heading{
    font-size: 22px;
    font-weight:bolder;
    line-height: 120%;
    letter-spacing: 0px;
    padding-bottom: 10px;
}

.innertext{
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
}

.attribution{
    padding: 25px;
}